@model IEnumerable<framework.asp.Models.usuariorol>

@{
    ViewBag.Title = "Index";
}

<h2>Lista UsuarioRol</h2>

<p>
    @Html.ActionLink("Crear UsuariRol", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @framework.asp.Controllers.UsuarioRolController.NombreUsuario(item.idUsuario)
            </td>
            <td>
                @framework.asp.Controllers.UsuarioRolController.Roles(item.idRol)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}
